body {
  font-family: Arial, Helvetica, sans-serif;
  counter-reset: section;
  background-image: url('../assets/cathedral2.jpg');
}

@media (min-width: 1100px) {
  body {
    background-image: url('../assets/cathedral1.jpg');
  }
}