header {
  background-color: rgba(226,196,153, 0.8);
  height: 105px;
  opacity: 60%;
}

.home-view {
  text-align: center;
  margin: 0 auto;
  font-size: 30px;
  margin-top: 25px;
}

.error-view {
  text-align: center;
  margin: 0 auto;
  font-size: 30px;
  margin-top: 25px;
}

.about-view {
  text-align: center;
  margin: 0 auto;
  margin-top: 25px;
  width: 85%;
  background-color: rgba(0.3, 0.3, 0.3, .8);
  box-sizing: border-box;
  color: white;
  border-radius: 15px;
  margin-bottom: 10px;
}

.scoreboard-view {
  text-align: center;
  margin: 0 auto;
  margin-top: 25px;
  width: 85%;
  background-color: rgba(0.3, 0.3, 0.3, .8);
  box-sizing: border-box;
  color: white;
  padding-bottom: 7px;
  border-radius: 15px;
  margin-bottom: 10px;

}

.quiz-view {
  width: 85%;
  margin: 20px auto;
  text-align: center;
  height: 560px;
}

.home-view {
  width: 85%;
  margin: 20px auto;
  text-align: center;
  height: 560px;
}