/* Tom: Header styling */
h1 {
  font-family: 'Pirata One', cursive;
  color: #8C0004;
  text-align: center;
  margin: 0 auto;
  padding: 10px;
}

h1 a {
  font-size: 60px;
}

nav {
 margin: 0 auto;
 text-align: center;
}

.navigation li {
  display: inline;
  list-style-type: none;
  padding: 8px;
}

a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
  font-size: 20px;
}

a:link {
  color: #C8000A;
}

a:visited {
  color: #C8000A;
}

h1 a {
  color: #8C0004;
}
h1 a:visited {
  color: #8C0004;
}

/* Tom: home-view styling */
section.home-view h2{
  height: 11.5%;
  line-height: 55.99px;
  background-color: #E2C499;
  border: 3px solid #8C0004;
  box-sizing: border-box;
  font-family: 'Pirata One', cursive;
  color: #8C0004;
  font-size: 38px;
  border-radius: 15px 15px 0 0;
  padding-bottom: 5px;
}

section.home-view form {
  height: 90%;
  border-left: 2px solid #C8000A;
  border-right: 2px solid #C8000A;
  border-bottom: 2px solid #C8000A;
  box-sizing: border-box;
  background-color: rgba(0.3, 0.3, 0.3, .8);
  border-radius: 0 0 15px 15px;
}

section.home-view section {
  height: 33.3%;
  box-sizing: border-box;
  border-bottom: 2px solid #C8000A;
  padding-top: 40px;
}

section.home-view section:last-of-type {
  border: none;
}

section.home-view label {
  display: block;
  color: white;
}

section.home-view button {
  display: block;
  margin: 10px auto;
  padding: 7px;
  width: 30%;
}


/* Tom: quiz-view styling */
section.quiz-view h2 {
  height: 20%;
  padding: 15px;
  line-height: 1.8em;
  background-color: #E2C499;
  border: 4px solid #8C0004;
  box-sizing: border-box;
  border-radius: 15px 15px 0 0;
  overflow: auto;
}

section.quiz-view ul {
  height: 80%;
  border-left: 2px solid #C8000A;
  border-bottom: 2px solid #C8000A;
  border-right: 2px solid #C8000A;
  box-sizing: border-box;
  background-color: rgba(0.3, 0.3, 0.3, .8);
  border-radius: 0 0 15px 15px;
}

section.quiz-view li {
  height: 25%;
  font-size: 20px;
  line-height: 118.5px;
  box-sizing: border-box;
  color: #E2C499;
  border-bottom: 2px solid #C8000A;
}

section.quiz-view li:last-of-type {
  border: none;
}

#quiz-list li:hover {
  background-color: #8C0004;
  font-size: 25px;
}

.score {
  background-color: #E2C499;
  width: 23%;
  margin: 0 auto;
  color: #8C0004;
  height: 50px;
  line-height: 50px;
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 3%;
  border-radius: 0 0 15px 15px;
  border: 3px solid #8C0004;
  border-top: none;
}


/* Tom: about-view styling */
section.about-view h2 {
  height: 40px;
  line-height: 40px;
  background-color: #E2C499;
  border: 2px solid #8C0004;
  box-sizing: border-box;
  color: #8C0004;
  font-size: 20px;
  border-radius: 15px 15px 0 0;
}

.coder {
  height: 25%;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 2px solid #C8000A;
  padding: 10px;
  border-left: 2px solid #C8000A;
  border-right: 2px solid #C8000A;
}

.coder:last-of-type {
  border-radius: 0 0 15px 15px;
}

.coder p {
  padding: 10px;
}

section.about-view img {
  max-width: 100%;
  max-height: 120px;
}

section.about-view a {
  padding: 10px;
}
/* Andy scoreboard view styling */

/* Scoreboard-view styling */

section.scoreboard-view h2 {
  font-family: 'Pirata One', cursive;
  margin-bottom: 80px;
  font-size:70px;
  background-color: #E2C499;
}

section.scoreboard-view ol {
  text-shadow:
    -0.5px -0.5px 0 #8C0004,
    0.5px -0.5px 0 #8C0004,
    -0.5px 0.5px 0 #8C0004,
    0.5px 0.5px 0 #8C0004;
    color: solid #8C0004; 
}

section.scoreboard-view li {
  font-family: 'Press Start 2P', cursive;
  display:block;
  font-size:60px;
  margin-bottom: 20px;
}

section.scoreboard-view li::before{
  counter-increment: section; 
  content:counter(section);
}

@media (min-width: 890px) {
  section.quiz-view h2 {
    height: 20%;
    padding: 20px;
    line-height: 2em;
    background-color: #E2C499;
    border: 2px solid #8C0004;
    box-sizing: border-box;
    font-size: 20px;
  }
}

section.scoreboard-view li:last-child{
  display: none; 
}